body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 56px;
}

a {
  text-decoration: none !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  width: 100%;
}

header nav .container-fluid .collapse {
  justify-content: flex-end;
}

header nav a,
footer h6 {
  user-select: none;
}

header nav a.active {
  color: var(--bs-blue) !important;
}

header .dropdown-item.active,
header .dropdown-item:active {
  background-color: transparent !important;
}

header .dropdown-item.active:active,
header .dropdown-item:active:active {
  color: var(--bs-blue) !important;
}

main {
  height: 100%;
  padding-top: 56px;
  position: relative;
}

main section.wrapper {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

main ul.socials {
  gap: 16px;
  padding: 0px;
  margin: 0px;
}

main ul.socials li a {
  font-size: 20px;
}